<!-- <div class="col-md-6 col-md-offset-3">
  <h1>Home</h1>
  <p>{{bodyText}}</p>
  <button type="button" class="btn btn-info" (click)="openModal('user-modal')">User Modal</button>
  <button (click)="openModal('chat-modal')">Chat Modal</button>
</div>

<ng-template #user-modal> 
  <div class="modal">
      <h1> Welcome !</h1>
      <div class="modal-body">
        <app-user></app-user>
          <button (click)="closeModal('user-modal');">Close</button>
      </div>
  </div>
  <div class="modal-background"></div>
</modal>

<ng-template #chat-modal>
  <div class="modal">
      <div class="modal-body">
        <app-chat></app-chat>
      </div>
  </div>
  <div class="modal-background"></div>
</ng-template>

<ng-template #new-chat>
  <div class="modal">
    <input [(ngModel)]="newName" placeholder=" name of the new chat ">
    <button (click)="closeModal('new-chat')"></button>
  </div>
</modal> -->